<a href="https://colab.research.google.com/github/Antu116/Dictionaries-Pandas/blob/main/Dictionaries_%26_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the course packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Use the index() method on countries to find the index of 'germany'. Store this index as ind_ger.
## Use ind_ger to access the capital of Germany from the capitals list. Print it out.

In [1]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin


With the strings in countries and capitals, create a dictionary called europe with 4 key:value pairs. Beware of capitalization! Make sure you use lowercase characters everywhere.
Print out europe to see if the result is what you expected.

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france': 'paris', 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)


Check out which keys are in europe by calling the keys() method on europe. Print out the result.
Print out the value that belongs to the key 'norway'.

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe.values())


Add the key 'italy' with the value 'rome' to europe.
To assert that 'italy' is now a key in europe, print out 'italy' in europe.
Add another key:value pair to europe: 'poland' is the key, 'warsaw' is the corresponding value.
Print out europe.

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)


The capital of Germany is not 'bonn'; it's 'berlin'. Update its value.
Australia is not in Europe, Austria is! Remove the key 'australia' from europe.
Print out europe to see if your cleaning work paid off.

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print eur

Use chained square brackets to select and print out the capital of France.
Create a dictionary, named data, with the keys 'capital' and 'population'. Set them to 'rome' and 59.83, respectively.
Add a new key-value pair to europe; the key is 'italy' and the value is data, the dictionary you just built.

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['spain']['capital'])

# Create sub-dictionary data
data = {'capital':'rome','population':59.83}

# Add data to eu

**PANDAS**

Import pandas as pd. Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs: key 'country' and value names. key 'drives_right' and value dr. key 'cars_per_cap' and value cpc. Use pd.DataFrame() to turn your dict into a DataFrame called cars. Print out cars and see how beautiful it is.

In [2]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names,
'drives_right':dr,
'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45


Hit Run Code to see that, indeed, the row labels are not correctly set. Specify the row labels by setting cars.index equal to row_labels. Print out cars again and check if the row labels are correct this time.

In [3]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

To import CSV files you still need the pandas package: import it as pd. Use pd.read_csv() to import cars.csv data as a DataFrame. Store this DataFrame as cars. Print out cars. Does everything look OK?

Run the code with Run Code and assert that the first column should actually be used as row labels. Specify the index_col argument inside pd.read_csv(): set it to 0, so that the first column is used as row labels. Has the printout of cars improved now?

In [7]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Print out cars
print(cars)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True

**loc & iloc**


Use single square brackets to print out the country column of cars as a Pandas Series. Use double square brackets to print out the country column of cars as a Pandas DataFrame. Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.

In [8]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

country_ab
US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
                  country
country_ab
US          United States
AUS             Australia
JAP                 Japan
IN                  India
RU                 Russia
MOR               Morocco
EG                  Egypt
                  country  drives_right
country_ab
US          United States          True
AUS             Australia         False
JAP                 Japan         False
IN                  India         False
RU                 Russia          True
MOR               Morocco          True
EG                  Egypt          True

Select the first 3 observations from cars and print them out. Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out

In [12]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
            cars_per_cap  country  drives_right
country_ab
IN                    18    India         False
RU                   200   Russia          True
MOR                   70  Morocco          True


Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JPN, the index is 2. Make sure to print the resulting Series. Use loc or iloc to select the observations for Australia and Egypt as a DataFrame. You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.

In [11]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)
# Print out observation for Japan
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.iloc[[1,6]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
            cars_per_cap    country  drives_right
country_ab
AUS                  731  Australia         False
EG                    45      Egypt          True

Print out the drives_right value of the row corresponding to Morocco (its row label is MOR) Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.

In [10]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR','drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

True
            country  drives_right
country_ab
RU           Russia          True
MOR         Morocco          True


Print out the drives_right column as a Series using loc or iloc. Print out the drives_right column as a DataFrame using loc or iloc. Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.

In [9]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

country_ab
US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
            drives_right
country_ab
US                  True
AUS                False
JAP                False
IN                 False
RU                  True
MOR                 True
EG                  True
            cars_per_cap  drives_right
country_ab
US                   809          True
AUS                  731         False
JAP                  588         False
IN                    18         False
RU                   200          True
MOR                   70          True
EG                    45          True